@page "/"

<PageTitle>Home</PageTitle>


<div class="container">
    <div class="row">
        <div class="col-4 bg-primary text-white">
            <div class="row">
                 <h1>Job Assignment</h1>
            </div></div>
        <div class="col-1 bg-warning"></div>
        <div class="col-7 bg-success text-white"><h1>Queen's Report</h1></div>
    </div>
</div>
