@page "/"

<PageTitle>Home</PageTitle>


<div class="container">
    <div class="row">
        <div class="col-4 ">
            <div class="row">
                 <h1>Job Assignment</h1>
            </div>
            <div class="row mt-5">
                Nector Collector:
            </div>
            <select type="row mt-4" class="form-control mt-2" @bind="selectedJob">
                <option value="Nectar Collector">Nectar Collector</option>
                <option value="Honey Manufacturer">Honey Manufacturer</option>
                <option value="Egg Care">Egg Care</option>
            </select>
            <div class="row mt-5">
                <button class="btn btn-outline-primary" @onclick="()=>queen.AssignBee(selectedJob)">Assign this job to bee</button>    
            </div>
            <div class="row mt-5">
                <button class="btn btn-outline-danger" onclick="()=>WorkTheNextShift()">Start the next shift</button>
            </div>
        </div>
        <div class="col-1 "></div>
        <div class="col-7 ">
            <div class="row">
                <h1>Queen's Report</h1>
            </div>
            <div class="row">
                <textarea class="row" rows="12" cols="50" value="@queen.StatusReport" readonly></textarea>
            </div>
         </div>
        
    </div>
</div>

@code {
    Queen queen = new Queen();
    string selectedJob = "Nector Collector";
}
